<div class="container">
<h1 class="title">New Board</h1>

<%= form_with(model: @board, url: board_path, method: 'put', local: true) do |f| %>
    <div>
      <%= f.label :name, 'Name', class: 'text' %>
    </div>
    <div>
      <%= f.text_field :name, class: 'text' %>
    </div>
    <div>
      <%= f.label :description, 'Description', class: 'text' %>
    </div>
    <div>
      <%= f.text_area :description, class: 'text' %>
    </div>
    <%= f.submit 'Submit', class: 'submit' %>
<% end %>

</div>
